*{
    margin: 0;
    padding: 0;
}

body { 
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header {
padding: auto;
margin: auto;
background:#2f855a;
color:white;
padding:20px;
}

nav a {
color:white;
margin-right:15px;
text-decoration:none;
}

nav a:hover {
text-decoration:underline;
}

.content{
max-width:900px;
margin:auto;
padding:20px;
background:white;
}

footer{
background:#333;
color:#ccc;
text-align:center;
padding:20px;
margin-top:40px;
}